.footer {
    background-color: transparent; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin-top: 4%;
    margin-bottom: 2%;
  }

  .text {
    color: rgba(255, 255, 255, 0.44); 
    padding: 1rem 0; 
    font-weight: 400;
  }
  